<!--
  Generated template for the ExamenInterpretacionCortePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="paua">
    <ion-title>Tema A.1</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="fondo">

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" push-md="3">
        <div>
          <ion-card>
            <ion-card-content>
              <img src="../../../../../assets/imgs/Home4.jpg" />
              <ion-card-title class="card-title">A.1 Examen e interpretación de cortes, histología</ion-card-title>
              <p class="card-subtitle">
                El periodonto es un conjunto de tejidos dinámicos cuya función vital es dar el soporte a los
                órganos dentarios, así como, proveer un reservorio de células para mantener la homeostasis,
                y favorecer la regeneración o reparación de los tejidos perdidos por enfermedad.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size-md="3" push-md="3">
        <div>
          <ion-card>
            <ion-card-content>
              <img src="../../../../../assets/imgs/Home4.jpg" />
              <ion-card-title class="card-title">Composición del periodonto</ion-card-title>
              <p class="card-subtitle">
                Los tejidos que componen el periodonto son:
              </p>
              <br />
              <div class="card-item">
                <p class="card-subtitle">
                  • <strong>Tejidos blandos:</strong> Encía y ligamento periodontal.
                </p>
                <br />
                <p class="card-subtitle">
                  • <strong>Tejidos mineralizados:</strong> Hueso alveolar y cemento radicular.
                </p>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" push-md="3">
        <div>
          <ion-card>
            <ion-card-content>
              <img src="../../../../../assets/imgs/Home4.jpg" />
              <ion-card-title class="card-title">Descripción cemento radicular</ion-card-title>
              <p class="card-subtitle">
                El cemento radicular fue descrito por primera vez en 1835 como un tejido conectivo
                mineralizado a vascular y sin inervación que recubre la superficie radicular.
              </p>
            </ion-card-content>
            <ion-card-content *ngIf="ocultar1">
              <p class="card-subtitle">
                No sufre procesos de remodelación, pero sí de aposición, el cual se mantiene
                durante toda la vida.
              </p>
              <br />
              <p class="card-subtitle">
                Se ha clasificado como celular o a celular dependiendo de la presencia o ausencia
                de cementocitos en su estructura.
              </p>
            </ion-card-content>
            <ion-card-content>
              <div class="content-button">
                <button ion-button outline round color="green" (click)="accion1(3,3)"
                  [disabled]="!srv.validateTopic(ch3,2)">
                  {{ !ocultar1 ? 'Ver más' : 'Ver Menos' }}
                </button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size-md="3" push-md="3">
        <div>
          <ion-card>
            <ion-card-content>
              <img src="../../../../../assets/imgs/Home4.jpg" />
              <ion-card-title class="card-title">Otra descripción</ion-card-title>
              <p class="card-subtitle">
                Otra clasificación incluye cemento con fibras intrínsecas o extrínsecas, dependiendo de la presencia de
                fibras
                de colágena. Algunos autores consideran
                que el cemento a celular y el celular tienen un origen embriológico distinto.
              </p>
            </ion-card-content>
            <ion-card-content *ngIf="ocultar2">
              <p class="card-subtitle">
                Algunos estudios sugieren que células progenitoras se originan desde el propio folículo dental, el cual
                es de
                origen ectomesénquima (derivado de la cresta neural craneal).
              </p>
              <br />
              <p class="card-subtitle">
                Sin embargo, también se ha descrito que podrían derivarse de un origen epitelial; esto es, a partir de
                células
                de la vaina epitelial de Hertwig, sufren una transformación epitelio-mesénquima. Aún no es totalmente
                claro el origen del cemento.
              </p>
              <br />
              <p class="card-subtitle">
                <strong>Asesoría del laboratorio:</strong> Universidad Nacional Autónoma de México. (Convenio virtual).
              </p>
              <br />
              <div class="card-item">
                <p class="card-subtitle"><strong>Autores:</strong></p>
                <br />
                <p class="card-subtitle">• Leeson, Thomas S(Autor).</p>
                <p class="card-subtitle">• Leeson, C.Ronald(Coautor).</p>
                <p class="card-subtitle">• Paparo, Anthony A.(Coautor).</p>
              </div>
              <br />
              <div class="card-item">
                <p class="card-subtitle"><strong>Título:</strong></p>
                <p class="card-subtitle">• Atlas de histología: texto / Thomas S. Leeson, C. Roland Leeson, Anthony A.
                  Paparo ;
                  tr.
                  Dr. Carlos Hernández Zamora</p>
                <br />
                <p class="card-subtitle"><strong>Clasificación:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• 611.018 L44a.</p>
                </div>
                <br />
                <p class="card-subtitle"><strong>Datos de la publicación:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• México: McGraw-Hill Interamericana, c1990.</p>
                  <br />
                </div>
                <p class="card-subtitle"><strong>Descripción:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• xiv, 741 p:26 cm..</p>
                </div>
                <br />
                <p class="card-subtitle"><strong>ISBN:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• 9682514878.</p>
                </div>
                <br />
                <p class="card-subtitle"><strong>Temas:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• Histología - Atlas.</p>
                </div>
                <br />
                <p class="card-subtitle"><strong>Notas:</strong></p>
                <div class="card-item2">
                  <p class="card-subtitle">• Traducción: Text / atlas of histology..</p>
                </div>
                <br />
                <p class="card-subtitle"><strong>Recurso digital:</strong></p>
                <div class="card-item2">
                  <a href="http://biblio.upmx.mx/indices/204225.pdf" class="card-subtitle">Link</a>
                </div>
              </div>

            </ion-card-content>
            <ion-card-content>
              <div class="content-button">
                <button ion-button outline round color="green" (click)="accion2(3,4)"
                  [disabled]="!srv.validateTopic(ch3,3)">
                  {{ !ocultar2 ? 'Ver más' : 'Ver Menos' }}
                </button>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>