page-agenda-congresos {
    .card-title{
        font-family: Futura,Trebuchet MS,Arial,sans-serif; 
        text-align: justify;
        font-weight: bold;   
    }

    .card-subtitle{
        font-family: Futura,Trebuchet MS,Arial,sans-serif; 
        text-align: justify;
        color: rgb(88, 98, 99);
    }

    .content-button{
        text-align: center;
    }

    .button-content {
        position: relative;
        text-align: center; 
      }

   .fondo{
        background:#ECF0F1;
    }
}
